/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
    to bottom, 
    #009688 0%,
    #009688 15%,
    #d2dbdc 15%,
    #d2dbdc 100%
  );
  font-family: 'Roboto', sans-serif;
}


/* LOGHI*/
.logo img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}


/* LAYOUT  */
.main-window {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 90%;
}


/* SIDEBAR */
.side-bar {
    flex-basis: 35%;
    background: rgb(108, 223, 152);
}

/* CONTENT */
.content {
    flex-basis: 65%;
    background: #c5b6ec;
}

.content .middle {
    flex-grow: 1;
    overflow-y: auto;
}


