/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
    to bottom, 
    #009688 0%,
    #009688 15%,
    #d2dbdc 15%,
    #d2dbdc 100%
  );
  font-family: sans-serif;
}


/* LOGHI*/
.logo img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin: 5px;
}


/* LAYOUT  */
.main-window {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 90%;
}


/* SIDEBAR */
.side-bar {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background: #fff;
}

/* SIDEBAR TOP*/
.sidebar-top {
    display: flex;
    justify-content: space-between;
    background: #e2e2e2;
    border-right: 1px solid #8d8989;
}

.sidebar-top .logo {
    display: flex;
    align-items: center;
}

.sidebar-top .icons {
    display: flex;
    flex-basis: 15%;
}

.sidebar-top .icons i {
    font-size: 18px;
    margin-top: 20px;
    padding: 0 8px;
    color: #8d8989;
}

.sidebar-top .icons i:last-child {
    padding-right: 25px;
}


/* SIDEBAR MIDDLE*/
.sidebar-middle {
    display: flex;
    align-items: center;
    height: 80px;
    background: rgb(108, 223, 238);
}

.sidebar-middle .text h4 {
    font-size: 15px;
}

.sidebar-middle .text small {
    text-decoration: underline;
}


.sidebar-middle .new-mex {
    padding-left: 15px;
    padding-right: 10px;
}

.sidebar-middle .new-mex i {
    font-size: 20px;
    padding: 12px;
    background: #fff;
    color: rgb(108, 223, 238);
    border-radius: 50%;
}


/* NEW CHAT */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    background: #e2e2e2;
}

.search input {
    min-width: 98%;
    height: 30px;
    padding-left: 65px;
    border: 0;
    outline: none;
    font-size: 10px;
    color: #8d8989;
}

.search input:hover,
.search input:focus {
    border: 1px solid rgb(51, 51, 236);
}

.search i:hover, 
.search i:focus {
    color: rgb(51, 51, 236);
}

.search i {
    position: absolute;
    left: 40px;
    color: #8d8989;
}


/* USERS */
.contacts {
    flex-grow: 1;
    overflow-y: auto;
}

.users .logo {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #e2e2e2;
}

.users:hover {
    background: #e4e2e2;
    cursor: grab;
}

.users .logo h4 {
    padding-left: 12px;
}

.contacts .users.active{
    background: #eaeaea;
}


/* CONTENT */
/* Content TOP */
.content {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.content .top {
    display: flex;
    align-items: center;
    height: 60px;
    background: #e2e2e2;
}

.content .top .logo h4 {
    padding-left: 8px;
}

.content .top .logo small {
    color: #8d8989;
}

.content .text {
    flex-grow: 1;
}

.content .icons i {
    padding: 0 8px;
    color: #8d8989;
}


.content .icons i:last-child {
    padding-right: 25px;
}


/* Content MIDDLE */
.content .middle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;

}


.content .middle .chat {
    display: flex;
    flex-direction: column;
    position: relative;
}

.content .middle .sent,
.content .middle .received{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 65px;
    border-radius: 10px;
    margin: 20px 25px 15px 25px;
}

.content .middle .sent {
    align-self: flex-end;
    background: rgb(155, 247, 175);
}

.content .middle .received {
    align-self: flex-start;
    background: rgb(248, 245, 245);
}

.sent .quadrato {
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgb(155, 247, 175);
    right: -8px;
    bottom: 14px;
    transform: rotate(45deg);
}

.received .quadrato {
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgb(248, 245, 245);
    left: -8px;
    bottom: 14px;
    transform: rotate(45deg);
}

.content .middle .sent h4,
.content .middle .received h4 {
    padding: 15px;
    font-size: 13px;
    padding-bottom: 5px;
}

.content .middle .sent small,
.content .middle .received small {
    align-self: flex-end;
    font-size: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #8d8989;
}




/* Content FOOTER */
.content .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background: #f1e9e1;
}

.content .footer input {
    min-width: 80%;
    height: 45px;
    border: 0;
    outline: none;
    border-radius: 8px;
    padding-left: 15px;
}

.content .footer input:hover ,
.content .footer input:focus {
    background: #fff;
    border: 2px solid rgb(51, 51, 236);
}

.content .footer {
    color:#8d8989;
}

.content .footer i {
    font-size: 20px;
}








