<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Clone Whatsapp Web</title>
</head>
<body>

    <div id="whatsapp" class="main-window">

        <aside class="side-bar">

            <!-- Logo Top-->
            <div class="sidebar-top">

                <div class="logo">
                    <img 
                    :src="'./img/avatar' + user.avatar + '.jpg'" 
                    :alt="user.name">
                    <h4>{{user.name}}</h4>
                </div>

                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                
            </div>

            <!-- notifications new messages -->
            <div class="sidebar-middle">
                <div class="new-mex">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div class="text">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <small>Attiva notifiche desktop</small>
                </div>
            </div>

             
            <!-- New chat -->
            <!-- INSERISCI LABEL -->
            <div class="search">
                
                <i class="fas fa-search"></i>
                <input 
                type="text" 
                placeholder="Cerca o inizia una nuova chat">

            </div>

            <!-- Messager from users -->
            <section class="contacts">

                <div 
                v-for="(contact, i) in contacts"
                :class="['users', indexContacts == i ? 'active' : '']"
                @click=setChat(i)
                >

                   <div class="logo">
                       <img 
                       :src="'./img/avatar' + contact.avatar + '.jpg'"
                       :alt="contact.name">
                       <h4>{{contact.name}}</h4>
                    </div>
                </div>
            </section>
        </aside>

        
        <!-- CONTENT CHAT -->
        <section class="content">

            <!-- Chat Samuele -->
            <div class="top">
                <div class="logo">
                    <img 
                    :src="'./img/avatar' + contacts[indexContacts].avatar + '.jpg'"
                    >
                </div>

                <div class="text">
                    <h4>{{contacts[indexContacts].name}}</h4>
                    <small>Ultimo accesso oggi alle 10.35</small>
                </div>

                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>


            <!-- Chat -->
            <div 
            class="middle">

                <div 
                class="chat"
                v-for=" (msg, i) in contacts[indexContacts].messages"
                :class="msg.status">
                    <h4>{{msg.message}}</h4>
                    <small>{{msg.date}}</small>
                </div>

            </div>

            <!-- Write message -->
            <div class="footer">

                <i class="far fa-smile"></i>
                <input 
                type="text" 
                placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone "></i>
            </div>
        </section>
    </div>

<script src="./js/main.js"></script>
    
</body>
</html>